<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  
  <%= render @users %>
  <!-- This code is the explicit verison of the code above.
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  --> 
</ul>

<%= will_paginate %>
